{% extends 'parent-page.html' %}

{% load static %}

{% block body %}
	<h1 class="text-center fw-bold mb-5 mt-5" data-aos="fade-up">Our Services </h1>
    <section id="services" class="services section">
  <div class="container">
    <p class="text-center" data-aos="fade-up" data-aos-delay="100">
      At Floextra Decor, we offer a wide range of interior design services to transform your space into something truly.<br><br>
                <a href="#" class="btn text-white" id="btn"  data-aos="fade-up" data-aos-delay="200">Get Started</a>

    </p>

    <div class="row gy-4 container" style="margin-bottom: 50px">
      <!-- Service 1 -->
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
        <div class="service-item text-center">
          <i class="fas fa-home fa-2x"></i>
          <h4>Residential Design</h4>
          <p>We create cozy and stylish homes that reflect your personality and needs.</p>
            <a href="#" class="btn text-white" id="btn-services">Get Started</a>

        </div>
      </div>

      <!-- Service 2 -->
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
        <div class="service-item text-center">
          <i class="fas fa-briefcase fa-2x"></i>
          <h4>Commercial Design</h4>
          <p>We design functional and aesthetically pleasing spaces for your business.</p>
            <a href="#" class="btn text-white" id="btn-services">Get Started</a>

        </div>
      </div>

      <!-- Service 3 -->
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="400">
        <div class="service-item text-center">
          <i class="fas fa-couch fa-2x"></i>
          <h4>Furniture Design</h4>
          <p>Custom furniture solutions that fit perfectly into your home or office.</p>
            <a href="#" class="btn text-white" id="btn-services">Get Started</a>

        </div>
      </div>
    </div>

    <div class="row gy-4 container" style="margin-bottom: 50px">
      <!-- Service 4 -->
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="500">
        <div class="service-item text-center">
          <i class="fas fa-paint-roller fa-2x"></i>
          <h4>Color Consultation</h4>
          <p>We help you choose the perfect color palette for your space.</p>
                                  <a href="#" class="btn text-white" id="btn-services">Get Started</a>
</div>
      </div>

      <!-- Service 5 -->
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="600">
        <div class="service-item text-center">
          <i class="fas fa-lightbulb fa-2x"></i>
          <h4>Lighting Design</h4>
          <p>We create lighting solutions that highlight the beauty of your space.</p>
                                  <a href="#" class="btn text-white" id="btn-services">Get Started</a>
</div>
      </div>

      <!-- Service 6 -->
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="700">
        <div class="service-item text-center">
          <i class="fas fa-cogs fa-2x"></i>
          <h4>Space Planning</h4>
          <p>Optimizing space to create flow and functionality in your home or office.</p>
                                 <a href="#" class="btn text-white" id="btn-services">Get Started</a>
 </div>
      </div>
    </div>

    <div class="row gy-4 container" style="margin-bottom: 50px">
      <!-- Service 7 -->
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="800">
        <div class="service-item text-center">
          <i class="fas fa-window-maximize fa-2x"></i>
          <h4>Window Treatments</h4>
          <p>Elegant and functional window coverings for your residential or office space.</p>
                                  <a href="#" class="btn text-white" id="btn-services">Get Started</a>
</div>
      </div>

      <!-- Service 8 -->
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="900">
        <div class="service-item text-center">
          <i class="fas fa-laptop fa-2x"></i>
          <h4>Office Design</h4>
          <p>Modern and efficient office designs that improve productivity and comfort.</p>
                                  <a href="#" class="btn text-white" id="btn-services">Get Started</a>
</div>
      </div>

      <!-- Service 9 -->
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="1000">
        <div class="service-item text-center">
          <i class="fas fa-chair fa-2x"></i>
          <h4>Comfortable design</h4>
          <p>Creating comfortable and healthy workspaces with comfortable furniture.</p>
                                  <a href="#" class="btn text-white" id="btn-services">Get Started</a>
</div>
      </div>
    </div>

    <div class="row gy-4 container" style="margin-bottom: 50px">
      <!-- Service 10 -->
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="1100">
        <div class="service-item text-center">
          <i class="fas fa-bath fa-2x"></i>
          <h4>Bathroom Design</h4>
          <p>Transform your bathroom into a luxurious and relaxing space.</p>
                                 <a href="#" class="btn text-white" id="btn-services">Get Started</a>
 </div>
      </div>

      <!-- Service 11 -->
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="1200">
        <div class="service-item text-center">
          <i class="fas fa-bed fa-2x"></i>
          <h4>Bedroom Design</h4>
          <p>Creating a restful and personalized bedroom retreat.</p>
                                  <a href="#" class="btn text-white" id="btn-services">Get Started</a>
</div>
      </div>

      <!-- Service 12 -->
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="1300">
        <div class="service-item text-center">
          <i class="fas fa-utensils fa-2x"></i>
          <h4>Kitchen Design</h4>
          <p>Innovative kitchen designs that make cooking enjoyable and easy.</p>
                                  <a href="#" class="btn text-white" id="btn-services">Get Started</a>
</div>
      </div>
    </div>

    <div class="row gy-4 container" style="margin-bottom: 50px">
      <!-- Service 13 -->
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="1400">
        <div class="service-item text-center">
          <i class="fas fa-tint fa-2x"></i>
          <h4>Landscaping</h4>
          <p>Outdoor spaces that complement your interior design and provide relaxation.</p>
                                 <a href="#" class="btn text-white" id="btn-services">Get Started</a>
 </div>
      </div>

      <!-- Service 14 -->
     <div class="col-md-4" data-aos="fade-up" data-aos-delay="1500">
    <div class="service-item text-center">
        <i class="fas fa-palette fa-2x"></i>
        <h4>Art Integration</h4>
        <p>We integrate drawings, paintings, and animations to elevate your space with creativity and style.</p>
                             <a href="#" class="btn text-white" id="btn-services">Get Started</a>
 </div>
</div>



      <!-- Service 15 -->
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="1600">
        <div class="service-item text-center">
          <i class="fas fa-people-carry fa-2x"></i>
          <h4>Move-In/Out Services</h4>
          <p>We help with design, setup, and space organization when moving into a new home or office.</p>
                                  <a href="#" class="btn text-white" id="btn-services">Get Started</a>
</div>
      </div>
    </div>

    <div class="row gy-4 container" style="margin-bottom: 50px">
      <!-- Service 16 -->
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="1700">
        <div class="service-item text-center">
          <i class="fas fa-paint-brush fa-2x"></i>
          <h4>Painting and Wall Art</h4>
          <p>Enhance your walls with beautiful paintings and custom art pieces.</p>
                                 <a href="#" class="btn text-white" id="btn-services">Get Started</a>
 </div>
      </div>

      <!-- Service 17 -->
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="1800">
        <div class="service-item text-center">
          <i class="fas fa-shapes fa-2x"></i>
          <h4>Custom Decor</h4>
          <p>Designing and creating one-of-a-kind decor pieces for your space.</p>
                                  <a href="#" class="btn text-white" id="btn-services">Get Started</a>
</div>
      </div>

      <!-- Service 18 -->
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="1900">
        <div class="service-item text-center">
          <i class="fas fa-trophy fa-2x"></i>
          <h4>Personalized Touches</h4>
          <p>Adding special, personalized touches to make your space feel uniquely yours.</p>
            <a href="#" class="btn text-white" id="btn-services">Get Started</a>
 </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
